.progress {
    height: 1.4rem;
    font-size: 1rem;
}

th {
    font-size: 1.2rem;
}

.fancybox-slide--iframe .fancybox-content {
    width  : 800px;
    height : 600px;
    max-width  : 80%;
    max-height : 80%;
    margin: 0;
}
